.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    background-color: var(--color-secondary-light);
}

.headerInfo {
    display: flex;
    flex-direction: column;

}

.headerInfo h1 {
    color: var(--color-primary-orange);
    font-size: 64px;
    font-weight: 400;
    margin-bottom: 2%;
}

.headerInfo h2 {
    color: var(--color-primary-red);
    font-weight: 400;
    font-size: 24px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.headerInfo p {
    color: var(--color-secondary-gray);
    font-size: 18px;
    font-weight: 400;
    margin-top: 2px;
}

.headerImage {
    border-radius: 50%;
    object-fit: cover;
}