.overlay {
    position: fixed;
    inset: 0;
    background: rgba(255,255,255,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* container principal avec cadre noir */
.lightbox {
    position: relative;

    width: min(1253px, 95vw);
    height: min(984px, 95vh);

    background: white;
    border-radius: 6px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 40px 0;
}

/* conteneur du média */
.mediaContainer {
    position: relative;

    width: min(1242px, 100%);
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* médias */
.mediaImage {
    position: relative !important;

    width: 100%;
    max-width: 1050px;

    height: auto;
    max-height: 800px;

    object-fit: contain;
}

/* amélioration spécifique vidéo */
.mediaVideo {
    width: 100%;
    max-width: 1050px;

    max-height: 900px;

    object-fit: contain;
}

/* titre */
.lightbox p {
    width: min(1050px, 100%);

    margin-top: 10px;

    color: var(--color-primary-red);
    font-size: 1.2rem;
    text-align: left;

}

/* boutons communs */
.closeLightBox,
.onPrevLightBox,
.onNextLightBox {
    position: absolute;

    width: 42px;
    height: 42px;

    background: none;
    border: none;

    color: var(--color-primary-red);
    font-size: 2rem;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* croix */
.closeLightBox {
    top: -10px;
    right: 0;
    z-index: 20;
}

/* flèche gauche */
.onPrevLightBox {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* flèche droite */
.onNextLightBox {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* focus accessibilité */
.closeLightBox:focus,
.onPrevLightBox:focus,
.onNextLightBox:focus {
    outline: 2px solid #901C1C;
    outline-offset: 4px;
}