:root {
  /* Primary */
  --color-primary-red: #901C1C;
  --color-primary-orange: #D3573C;
;

  /* Secondary */
  --color-secondary-gray: #525252;
  --color-secondary-light: #FAFAFA;

  /* Base */
  --color-white: #ffffff;
  --color-black: #000000;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: var(--font-dm-sans), sans-serif;
  background-color: var(--color-white);
  color: var(--color-primary-orange);
}

header,
main {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

button {
  cursor: pointer;
  border: none;
  font-weight: 700;
  font-size: 20px;
  padding: 12px 20px;
  border-radius: 5px;

  width: 200px;
  height: 69px;

}

/* Primary button */
.button-primary {
  background-color: var(--color-primary-red);
  color: var(--color-white);
}

/* Hover + Focus */
.button-primary:hover,
.button-primary:focus-visible {
  background-color: var(--color-primary-orange);
  color: var(--color-black);

  outline: 3px solid var(--color-primary-red);
  outline-offset: 2px;
}

a,
a:visited,
a:link,
a:hover {
  text-decoration: none;
  color: inherit;
}

#nprogress .bar {
  background: var(--color-primary-red);
  height: 3px;
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--color-primary-orange),
  0 0 5px var(--color-primary-orange);
}

#nprogress .spinner {
  display: none;
}