.footer {
    position: fixed;
    bottom: 0;
    right: 40px;
    background-color: #DB8876;
    color: var(--color-black);
    padding: 15px 25px;
    border-radius: 8px 8px 0 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 500;
    font-size: 24px;

    width: 376px;
}

/* reset des styles par défaut du dl */
.footer dl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
}

/* chaque paire terme / valeur */
.footer div {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* on cache le terme mais on le garde pour les lecteurs d'écran */
.footer dt {
    position: absolute;
    left: -9999px;
}

/* valeur */
.footer dd {
    margin: 0;
}

.faHeart {
    width: 19px;
}